@import "./Global.scss";

#root {
  max-width: 1120px;
  margin: 0 auto;
  padding: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.btn-container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 100%;
  // padding: 4rem;
  align-items: flex-start;
  gap: 4rem;
}

.btn-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.article {
  background-color: $Purple-99;
  padding: 3rem 4rem 5rem 4rem;
  border-radius: 2rem;
  max-width: 720px;
  margin-top: 2rem;
}
