// Base styles
body {
  font-family: "Geologica", sans-serif;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.12;
  font-variant-numeric: lining-nums tabular-nums stacked-fractions ordinal;
  font-feature-settings: "rvrn" on;
  font-style: normal;
  font-variation-settings: "SHRP" 0;
  letter-spacing: -0.72px;
  color: $dark-text;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 440;
  font-variation-settings: "SHRP" 24;
}

h1 {
  @include responsive-font(3.2rem, 4.8rem, 5.6rem);
  margin: 0rem 0rem 0.75rem 0rem;
}

h2 {
  @include responsive-font(2.8rem, 3.2rem, 4rem);
  margin: 0rem 0rem 0.75rem 0rem;
}

h3 {
  @include responsive-font(2.4rem, 2.6rem, 2.8rem);
  margin: 0rem 0rem 0.5rem 0rem;
}

h4 {
  @include responsive-font(1.7rem, 1.85rem, 2rem);
  margin: 0rem 0rem 0.25rem 0rem;
}

h5 {
  @include responsive-font(1.2rem, 1.3rem, 1.4rem);
  margin: 0rem 0rem 0.25rem 0rem;
}

h6 {
  @include responsive-font(1rem, 1rem, 1.25rem);
  margin: 0rem 0rem 0.25rem 0rem;
}

p {
  margin: 0rem 0rem 1.5rem 0rem;
}

.subtitle {
  @include responsive-font(1rem, 1.25rem, 1.25rem);
}

// Body bold
.body-bold {
  font-weight: 440;
  margin-bottom: 0.24rem;
}

// Caption
.caption {
  font-size: 0.72rem;
  font-weight: 320;
}

.light-text {
  $light-text: $Desaturated-35;
}

// Links
a {
  color: $primary-ui;
  text-decoration: underline;
  transition: $base-transition;
}

// Styling for hover
a:hover {
  color: $Purple-95;
  background-color: $primary-ui;
}

// Styling for visited link, but will remain same as base link style for now
a:visited {
  color: $primary-ui;
}

// Styling the when the link is clicked
a:active {
  color: $Purple-35;
}

// List items
li {
  margin-bottom: 0.25rem;
}

ul {
  margin: 0rem 0rem 0.25rem 0rem;
}

ol {
  margin: 0.25rem 0rem 0.25rem 0rem;
}
